<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Get Users API  Test" verbose="1" parallel="false">

 <test name="users" >
  	<parameter name="deviceID" value="42003a0fd3148479"></parameter> 
 		<classes> 				
				<class name="com.qa.scripts.TC_001_GetAPITest"></class>					            				
		</classes>    			
 </test>
</suite> <!-- Suite -->
